<div class="flex flex-row justify-between px-4 py-5 text-clrBlack cursor-pointer">
    <div class="flex flex-row gap-2"  (click)="toggleOng = !toggleOng">
        <img class="block md:hidden pr-2" src="assets/logo-mobile.svg" alt="">
        <h1 class="font-WebFont text-2xl not-italic font-bold leading-normal whitespace-nowrap">Platform Launch</h1>
        <div class="block md:hidden my-auto w-2 h-1 stroke-2 ">
            <img class="" src="assets/icon-chevron-down.svg" alt="" *ngIf="!toggleOng">
            <img class="" src="assets/icon-chevron-up.svg" alt="" *ngIf="toggleOng">
        </div>
    </div>
    <div class="flex flex-row gap-4">
        <div class="w-12 block md:hidden"><app-button buttonBg="#635FC7" buttonText="+" buttonTextSize="1"></app-button></div>
        <div class="w-40 hidden md:block"><app-button buttonBg="#635FC7" buttonText="+ Add New Task" buttonTextSize="1"></app-button></div>
        <img class="h-4 my-auto" src="assets/icon-vertical-ellipsis.svg" alt="">
    </div>
</div>
<div class=" md:hidden flex flex-col mt-4 px-6 bg-red-200 mx-14 rounded-lg" *ngIf="toggleOng">
    <h3>ALL BOARDS ?</h3>

</div>